USE [master]
GO
/****** Object:  Database [BANCO]    Script Date: 14/07/2026 16:24:47 ******/
CREATE DATABASE [BANCO]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BANCO', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\BANCO.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BANCO_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\BANCO_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BANCO].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BANCO]
GO
/****** Object:  Table [dbo].[CLIENTES]    Script Date: 14/07/2026 16:24:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CLIENTES](
	[ID_CLIENTE] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRES] [varchar](20) NOT NULL,
	[APELLIDOS] [varchar](20) NOT NULL,
	[SEXO] [char](1) NOT NULL,
	[FECHA_NAC] [date] NOT NULL,
	[CIUDAD] [varchar](100) NOT NULL,
	[FECHA_REGISTRO] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_CLIENTE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CUENTAS]    Script Date: 14/07/2026 16:24:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CUENTAS](
	[ID_CUENTA] [int] IDENTITY(1,1) NOT NULL,
	[ID_CLIENTE] [int] NOT NULL,
	[ID_SUCURSALES] [int] NOT NULL,
	[ID_TIPO_DE_CUENTAS] [int] NOT NULL,
	[SALDO] [decimal](18, 2) NOT NULL,
	[FECHA_APERTURA] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_CUENTA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRESTAMOS]    Script Date: 14/07/2026 16:24:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRESTAMOS](
	[ID_PRESTAMO] [int] IDENTITY(1,1) NOT NULL,
	[ID_CLIENTE] [int] NOT NULL,
	[MONTO] [decimal](18, 2) NOT NULL,
	[TAZA_INTERES] [decimal](5, 2) NOT NULL,
	[PLAZO_MESES] [int] NOT NULL,
	[ESTADO] [varchar](20) NOT NULL,
	[FECHA_OTORGAMIENTO] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_PRESTAMO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SUCURSALES]    Script Date: 14/07/2026 16:24:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SUCURSALES](
	[ID_SUCURSALES] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE_SUCURSAL] [varchar](150) NOT NULL,
	[CIUDAD_SUCURSAL] [varchar](200) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_SUCURSALES] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TIPOS_DE_CUENTAS]    Script Date: 14/07/2026 16:24:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TIPOS_DE_CUENTAS](
	[ID_TIPO_DE_CUENTAS] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE_TIPO_DE_CUENTAS] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_TIPO_DE_CUENTAS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TRANSACCIONES]    Script Date: 14/07/2026 16:24:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TRANSACCIONES](
	[ID_TRANSACCION] [int] IDENTITY(1,1) NOT NULL,
	[ID_CUENTA] [int] NOT NULL,
	[FECHA] [datetime] NOT NULL,
	[TIPO] [varchar](20) NOT NULL,
	[MONTO] [decimal](18, 2) NOT NULL,
	[DESCRIPCION] [varchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_TRANSACCION] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[CLIENTES] ON 

INSERT [dbo].[CLIENTES] ([ID_CLIENTE], [NOMBRES], [APELLIDOS], [SEXO], [FECHA_NAC], [CIUDAD], [FECHA_REGISTRO]) VALUES (1, N'JUNIOR', N'SOLIS', N'M', CAST(N'2000-01-09' AS Date), N'MANAGUA', CAST(N'2015-02-09' AS Date))
INSERT [dbo].[CLIENTES] ([ID_CLIENTE], [NOMBRES], [APELLIDOS], [SEXO], [FECHA_NAC], [CIUDAD], [FECHA_REGISTRO]) VALUES (2, N'ANA', N'JUAREZ', N'F', CAST(N'1998-01-09' AS Date), N'MANAGUA', CAST(N'2019-02-09' AS Date))
INSERT [dbo].[CLIENTES] ([ID_CLIENTE], [NOMBRES], [APELLIDOS], [SEXO], [FECHA_NAC], [CIUDAD], [FECHA_REGISTRO]) VALUES (3, N'NOLLY', N'SEVILLA', N'M', CAST(N'1993-01-09' AS Date), N'MANAGUA', CAST(N'2009-02-09' AS Date))
SET IDENTITY_INSERT [dbo].[CLIENTES] OFF
GO
SET IDENTITY_INSERT [dbo].[CUENTAS] ON 

INSERT [dbo].[CUENTAS] ([ID_CUENTA], [ID_CLIENTE], [ID_SUCURSALES], [ID_TIPO_DE_CUENTAS], [SALDO], [FECHA_APERTURA]) VALUES (1, 1, 1, 1, CAST(15000.00 AS Decimal(18, 2)), CAST(N'2015-02-09' AS Date))
INSERT [dbo].[CUENTAS] ([ID_CUENTA], [ID_CLIENTE], [ID_SUCURSALES], [ID_TIPO_DE_CUENTAS], [SALDO], [FECHA_APERTURA]) VALUES (2, 2, 3, 1, CAST(25000.00 AS Decimal(18, 2)), CAST(N'2016-02-09' AS Date))
INSERT [dbo].[CUENTAS] ([ID_CUENTA], [ID_CLIENTE], [ID_SUCURSALES], [ID_TIPO_DE_CUENTAS], [SALDO], [FECHA_APERTURA]) VALUES (3, 3, 4, 2, CAST(8000.00 AS Decimal(18, 2)), CAST(N'2017-02-09' AS Date))
SET IDENTITY_INSERT [dbo].[CUENTAS] OFF
GO
SET IDENTITY_INSERT [dbo].[PRESTAMOS] ON 

INSERT [dbo].[PRESTAMOS] ([ID_PRESTAMO], [ID_CLIENTE], [MONTO], [TAZA_INTERES], [PLAZO_MESES], [ESTADO], [FECHA_OTORGAMIENTO]) VALUES (1, 1, CAST(50000.00 AS Decimal(18, 2)), CAST(12.50 AS Decimal(5, 2)), 36, N'ACTIVO', CAST(N'2025-11-01' AS Date))
INSERT [dbo].[PRESTAMOS] ([ID_PRESTAMO], [ID_CLIENTE], [MONTO], [TAZA_INTERES], [PLAZO_MESES], [ESTADO], [FECHA_OTORGAMIENTO]) VALUES (2, 2, CAST(60000.00 AS Decimal(18, 2)), CAST(11.50 AS Decimal(5, 2)), 48, N'ACTIVO', CAST(N'2023-11-01' AS Date))
INSERT [dbo].[PRESTAMOS] ([ID_PRESTAMO], [ID_CLIENTE], [MONTO], [TAZA_INTERES], [PLAZO_MESES], [ESTADO], [FECHA_OTORGAMIENTO]) VALUES (3, 3, CAST(25000.00 AS Decimal(18, 2)), CAST(10.75 AS Decimal(5, 2)), 12, N'CANCELADO', CAST(N'2020-11-01' AS Date))
SET IDENTITY_INSERT [dbo].[PRESTAMOS] OFF
GO
SET IDENTITY_INSERT [dbo].[SUCURSALES] ON 

INSERT [dbo].[SUCURSALES] ([ID_SUCURSALES], [NOMBRE_SUCURSAL], [CIUDAD_SUCURSAL]) VALUES (1, N'SUCURSAL MANAGUA CENTRO', N'MANAGUA')
INSERT [dbo].[SUCURSALES] ([ID_SUCURSALES], [NOMBRE_SUCURSAL], [CIUDAD_SUCURSAL]) VALUES (2, N'SUCURSAL METROCENTRO', N'MANAGUA')
INSERT [dbo].[SUCURSALES] ([ID_SUCURSALES], [NOMBRE_SUCURSAL], [CIUDAD_SUCURSAL]) VALUES (3, N'SUCURSAL MASAYA', N'MASAYA')
SET IDENTITY_INSERT [dbo].[SUCURSALES] OFF
GO
SET IDENTITY_INSERT [dbo].[TIPOS_DE_CUENTAS] ON 

INSERT [dbo].[TIPOS_DE_CUENTAS] ([ID_TIPO_DE_CUENTAS], [NOMBRE_TIPO_DE_CUENTAS]) VALUES (1, N'AHORROS')
INSERT [dbo].[TIPOS_DE_CUENTAS] ([ID_TIPO_DE_CUENTAS], [NOMBRE_TIPO_DE_CUENTAS]) VALUES (2, N'CORRIENTE')
INSERT [dbo].[TIPOS_DE_CUENTAS] ([ID_TIPO_DE_CUENTAS], [NOMBRE_TIPO_DE_CUENTAS]) VALUES (3, N'EMPRESARIAL')
SET IDENTITY_INSERT [dbo].[TIPOS_DE_CUENTAS] OFF
GO
SET IDENTITY_INSERT [dbo].[TRANSACCIONES] ON 

INSERT [dbo].[TRANSACCIONES] ([ID_TRANSACCION], [ID_CUENTA], [FECHA], [TIPO], [MONTO], [DESCRIPCION]) VALUES (3, 1, CAST(N'2020-10-08T00:00:00.000' AS DateTime), N'DEPOSITO', CAST(15000.00 AS Decimal(18, 2)), N'DEPOSITO A CUENTA')
INSERT [dbo].[TRANSACCIONES] ([ID_TRANSACCION], [ID_CUENTA], [FECHA], [TIPO], [MONTO], [DESCRIPCION]) VALUES (4, 1, CAST(N'2020-10-08T00:00:00.000' AS DateTime), N'RETIRO', CAST(12000.00 AS Decimal(18, 2)), N'RETIRO EN CAJERO')
INSERT [dbo].[TRANSACCIONES] ([ID_TRANSACCION], [ID_CUENTA], [FECHA], [TIPO], [MONTO], [DESCRIPCION]) VALUES (5, 2, CAST(N'2022-10-08T00:00:00.000' AS DateTime), N'DEPOSITO', CAST(28000.00 AS Decimal(18, 2)), N'TRASNFERENCIA RECIBIDA')
SET IDENTITY_INSERT [dbo].[TRANSACCIONES] OFF
GO
ALTER TABLE [dbo].[CUENTAS]  WITH CHECK ADD  CONSTRAINT [FK_CUENTAS_CLIENTES] FOREIGN KEY([ID_CLIENTE])
REFERENCES [dbo].[CLIENTES] ([ID_CLIENTE])
GO
ALTER TABLE [dbo].[CUENTAS] CHECK CONSTRAINT [FK_CUENTAS_CLIENTES]
GO
ALTER TABLE [dbo].[CUENTAS]  WITH CHECK ADD  CONSTRAINT [FK_CUENTAS_SUCURSALES] FOREIGN KEY([ID_SUCURSALES])
REFERENCES [dbo].[SUCURSALES] ([ID_SUCURSALES])
GO
ALTER TABLE [dbo].[CUENTAS] CHECK CONSTRAINT [FK_CUENTAS_SUCURSALES]
GO
ALTER TABLE [dbo].[CUENTAS]  WITH CHECK ADD  CONSTRAINT [FK_CUENTAS_TIPOS_CUENTAS] FOREIGN KEY([ID_TIPO_DE_CUENTAS])
REFERENCES [dbo].[TIPOS_DE_CUENTAS] ([ID_TIPO_DE_CUENTAS])
GO
ALTER TABLE [dbo].[CUENTAS] CHECK CONSTRAINT [FK_CUENTAS_TIPOS_CUENTAS]
GO
ALTER TABLE [dbo].[PRESTAMOS]  WITH CHECK ADD  CONSTRAINT [FK_PRESTAMOS_CLIENTES] FOREIGN KEY([ID_CLIENTE])
REFERENCES [dbo].[CLIENTES] ([ID_CLIENTE])
GO
ALTER TABLE [dbo].[PRESTAMOS] CHECK CONSTRAINT [FK_PRESTAMOS_CLIENTES]
GO
ALTER TABLE [dbo].[TRANSACCIONES]  WITH CHECK ADD  CONSTRAINT [FK_TRANSACCIONES_CUENTAS] FOREIGN KEY([ID_CUENTA])
REFERENCES [dbo].[CUENTAS] ([ID_CUENTA])
GO
ALTER TABLE [dbo].[TRANSACCIONES] CHECK CONSTRAINT [FK_TRANSACCIONES_CUENTAS]
GO
ALTER TABLE [dbo].[CLIENTES]  WITH CHECK ADD CHECK  (([SEXO]='F' OR [SEXO]='M'))
GO
USE [master]
GO
